
/* 컨텐츠 크기 */
.width1800{max-width: 1800px; margin: 0 auto;}

[data-animate="blur"] span.char{filter: blur(100px); animation: blurAni 1s forwards; animation-delay: calc(0.3s * var(--char-index));}
@keyframes blurAni {
    0%{filter: blur(100px);}
    100%{filter: blur(0px);}
}

/* header */
header{position: fixed; left: 0; top: 0; width: 100%; height: 130px; z-index: 100;}
header > div{height: 100%; display: flex; justify-content: space-between; align-items: center;}
header > div h1{max-width: 142px; position: relative; z-index: 1;}
header > div h1 a img{width: 100%;}
header > div .menuBtn{width: 43px; position: relative; z-index: 1;}
header > div .menuBtn span{display: block; height: 3px; border-radius: 10px; background-color: white; transition: 0.5s transform;}
header > div .menuBtn span:not(:last-child){margin-bottom: 15px;}

header > div .menuBtn.active span:nth-child(1){transform: translateY(9px) rotate(225deg);}
header > div .menuBtn.active span:nth-child(2){transform: translateY(-9px) rotate(-225deg);}

header > div nav{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: black; z-index: 0; display: none;}
header > div nav > div{height: 100%; display: flex; flex-direction: column; align-items: center;}
header > div nav > div div{height: 130px; display: flex; align-items: center;}
header > div nav > div div a{font-size: 22px; font-weight: 700; color: white; line-height: 45px; padding: 0 35px; border-radius: 100px;}
header > div nav > div div a.active , header > div nav div a:hover{background-color: white; color: black;}
header > div nav > div ul{flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center;}
header > div nav > div ul li{padding: 3.5vh 0;}
header > div nav > div ul li a{font-size: 70px; font-weight: 700; color: white; text-transform: uppercase;}


/* .introPage header{top: -100%;} */

/* footer */
footer{padding: 80px 0; background-color: #282828;}
footer > div{display: flex; position: relative;}
footer > div h2{max-width: 142px; margin-right: 50px;}
footer > div h2 img{width: 100%;}
footer > div > div ul:not([class]){display: flex; margin-bottom: 40px; padding: 15px 0;}
footer > div > div ul:not([class]) li{margin-right: 25px;}
footer > div > div ul:not([class]) li:not(:first-child){padding-left: 25px; border-left: 1px solid rgba(255, 255, 255, 0.4);}
footer > div > div ul:not([class]) li a{font-size: 16px; font-weight: 600; color: white;}
footer > div > div ul.snsArea{position: absolute; right: 0; top: 0; display: flex;}
footer > div > div ul.snsArea li{border: 1px solid rgba(255, 255, 255, 0.5); border-radius: 100px;}
footer > div > div ul.snsArea li:not(:last-child){margin-right: 30px;}
footer > div > div ul.snsArea li a{display: block; font-size: 16px; font-weight: 500; color: rgba(255, 255, 255, 0.5); padding:15px 20px;}
footer > div > div address{font-style: normal; margin-bottom: 30px;}
footer > div > div address *{font-size: 14px; font-weight: 600; color: white;}
footer > div > div address > *:not(:last-child){margin-bottom: 15px;}
footer > div > div > p{font-size: 14px; font-weight: 600; color: rgba(255, 255, 255, 0.2);}
