
.mainArea{min-width: 1900px; height: 100vh; position: relative;}
/* [class$='Page'] > [class$='Area']{min-width: 1900px; height: 100vh; position: relative;} */
.mainPage, .subPage{color: white;}
.mainPage > [class$='Area']{min-width: 1900px; height: 100vh; position: relative;}
.subPage.case01 > [class$='Area']{min-width: 1900px; height: 100vh; position: relative;}

.btn{font-size: 24px; font-weight: 600; color: white; /* position: absolute; left: 0; */ line-height: 70px; padding: 0 45px; border: 1px solid white; border-radius: 100px; display: inline-flex; align-items: center; z-index: 2;}
.btn span{font-size: 35px; padding-left: 30px;}
.btn01{font-size: 20px; font-weight: 600; color: white; line-height: 54px; padding: 0 37px; border: 1px solid white; border-radius: 100px; display: inline-flex; align-items: center; z-index: 2;}
.btn01 span{font-size: 30px; padding-left: 15px;}


[class ^= icon]{display: flex; align-items: center;}
[class ^= icon]::before{content: ''; width: 28px; height: 29px; background-repeat: no-repeat; background-position: center; background-size: cover; margin-right: 20px;}
.icon_insta::before{background-image: url('../images/icon_insta.png');}
.icon_blog::before{background-image: url('../images/icon_blog.png');}
.icon_chat::before{background-image: url('../images/icon_chat.png');}
.icon_shop::before{background-image: url('../images/icon_shop.png');}

.videoBox{position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 0; overflow: hidden; }
.videoBox video{width: 100%;}

/* 메인페이지 */
.mainArea .textBox{height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; z-index: 1;}
.mainArea .textBox p{font-size: 130px;  font-weight: 600; color: white; letter-spacing: 70px; text-shadow: 5px 5px 15px rgb(0 0 0 / 50%);}
.mainArea .textBox p:not(:last-of-type){margin-bottom: 30px;}

.mainArea .videoBox{position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 0; overflow: hidden; }
.mainArea .videoBox video{width: 100%;}


/* whoIs 페이지 */
.whoIsArea{position: relative; overflow: hidden; }
.whoIsArea * , .introArea *{color: white;}
.whoIsArea section{position: absolute; top: 0; width: 100%;}
.whoIsArea section:nth-of-type(2){left: 0;}
.whoIsArea section:nth-of-type(1){left: 100%;}
.whoIsArea .monyArea , .introArea.monyArea{background: rgb(138,143,204);
    background: radial-gradient(circle, rgba(138,143,204,1) 0%, rgba(110,108,195,1) 59%, rgba(97,91,191,1) 100%);
}
.whoIsArea .onnyArea , .introArea.onnyArea{background: rgb(124,195,199);
    background: radial-gradient(circle, rgba(124,195,199,1) 0%, rgba(81,178,183,1) 100%);}
.whoIsArea > section{ height: 100%; display: flex; justify-content: center; align-items: center;}
.whoIsArea > section > div{width: 100%; display: flex; justify-content: center; }
.whoIsArea > section > div > div{width: 78%; position: relative;}
.whoIsArea > section > div > div h2{width: 100%; font-size: 367px; font-weight: 700; /* color: white; */ display: flex; justify-content: space-between; letter-spacing: 10px;}
.whoIsArea > section > div > div h2 span:nth-child(2){position: relative; z-index: 1;}
.whoIsArea > section > div > div a{left: 0; z-index: 2;}
/* .whoIsArea > section > div > div a{font-size: 24px; font-weight: 600; position: absolute; left: 0; line-height: 70px; padding: 0 45px; border: 1px solid white; border-radius: 100px; display: flex; align-items: center; z-index: 2;} */
/* .whoIsArea > section > div > div a span{font-size: 35px; padding-left: 30px;} */
.whoIsArea > section img{position: absolute; bottom: 0; width: 840px; z-index: 0;}
.whoIsArea .selectArea{position: absolute; left: 0; top: 0; width: 100%; height: 100%; pointer-events: none;}
.whoIsArea .selectArea div{height: 100%; margin: 0 auto; display: flex; justify-content: flex-end; align-items: center;}
.whoIsArea .selectArea div button{pointer-events: all; font-size: 23px; font-weight: 700; /*  color: white; */ letter-spacing: 10px;}
.whoIsArea .selectArea div button span{display: inline-block; width: 20px; height: 2px; background-color: white; margin-right: 15px; position: relative;}
.whoIsArea .selectArea div button span::after{content: ''; position: absolute; right: 0; bottom: 0; width: 50%; height: 100%; background-color: white; transform: rotate(45deg); transform-origin: right;}


/* 소개 페이지 */
.introArea > div{height: 100%; display: flex; flex-direction: column; justify-content: center; position: relative;}
.introArea > div > div h2{font-size: 170px; font-weight: 700; }
.introArea > div > div span{font-size: 42px; font-weight: 700; display: block; margin-bottom: 55px;}
.introArea > div > div ul{font-size: 22px;}
.introArea > div > div ul:not([title]){margin-bottom: 50px;}
.introArea > div > div ul:not([title]) li{display: flex;}
.introArea > div > div ul:not([title]) li:not(:last-child){margin-bottom: 25px;}
.introArea > div > div ul:not([title]) li strong{margin-right: 20px;}
.introArea > div > div ul[title]::before{content: attr(title); font-weight: 700; display: block; margin-bottom: 15px;}
.introArea > div > div ul[title] li:not(:last-child){margin-bottom: 15px;}
.introArea > div > div ul[title] li a{position: relative;}
.introArea > div > div ul[title] li a::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background-color: white;}
.introArea > div > img{position: absolute; right: 270px; bottom: 0; width: 90.7407vh; max-width: 980px;}
.introArea > div > p{position: absolute; left: 0; bottom: 60px; font-size: 40px; font-weight: 700; letter-spacing: 2px;}
.introArea > div > button{position: absolute; right: 0; top: 195px;}

/* 토크 페이지 */
.talkArea .textBox{height: 100%; display: flex; justify-content: flex-end; align-items: center; position: relative; z-index: 1;}
.talkArea .textBox ol li{display: none; text-align: right;}
.talkArea .textBox ol li.active{display: block;}
.talkArea .textBox ol li strong{display: block; font-size: 48px; font-weight: 700; line-height: 51px; color: white; margin-bottom: 20px;}
.talkArea .textBox ol li p{font-size: 26px; font-weight: 500; color: #605abf; display: inline-block; line-height: 60px; padding: 0 35px; background-color: white; border-radius: 100px; position: relative;}
.talkArea .textBox ol li p{opacity: 0; position: relative; top: 50px;}
.talkArea .textBox ol li p::after{content: ''; position: absolute; right: -2px; top: 3px; width: 14px; height: 14px; background: url('../images/talkBGAfter.png') no-repeat center / cover;}



/* 서브 페이지 */
.subPage{}
.subPage main > h2{font-size: 70px; font-weight: 700; margin-bottom: 60px;}
.subPage main > h2 span{display: inline-block; width: 25px; height: 25px; background-color: #605abf; border-radius: 100%; margin-left: 15px;}
.titleDot{font-size: 70px; font-weight: 700; }
.titleDot span{display: inline-block; width: 25px; height: 25px; background-color: #605abf; border-radius: 100%; margin-left: 15px;}
.titleDot::after{content: ''; display: inline-block; width: 25px; height: 25px; background-color: #605abf; border-radius: 100%; margin-left: 15px;}
.subPage main > h2 + p{font-size: 40px; line-height: 69px; font-weight: 600;}
.subPage main h2 ~ p{font-size: 40px; line-height: 69px; font-weight: 600;}


/*서브 페이지 - about */
.aboutArea mark{font-weight: 700;}

.aboutArea > p{margin-bottom: 215px;}
.aboutArea .meditatArea{background-color: #605abf; margin-bottom: 190px;}
.aboutArea .meditatArea > div::after{content: ''; display: block; clear: both;}
.aboutArea .meditatArea > div{padding-top: 765px; padding-bottom: 110px; margin-left: auto; position: relative; margin-left: calc((100% - 1800px) / 2);}
.aboutArea .meditatArea > div > div{position: absolute; left: 0; top: -130px; width: 100%; height: 790px; background: url('../images/about_titleBG.png') no-repeat center / cover; }
.aboutArea .meditatArea > div > div h3{font-size: 160px; font-weight: 600; text-align: center; width: 1800px; height: 100%; display: flex; justify-content: center; align-items: center;}

.aboutArea .meditatArea > div strong{float: left; width: 260px; font-size: 60px; font-weight: 700; margin-right: 90px;}
.aboutArea .meditatArea > div p{float: left; font-size: 22px; line-height: 40px;}


.aboutArea .thinkArea{display: flex; flex-wrap: wrap; margin-bottom: 210px;}
.aboutArea .thinkArea p{flex: 1; font-size: 90px; font-weight: 700; line-height: 120px; margin-bottom: 150px;}
.aboutArea .thinkArea mark{width: 100%; font-size: 60px; text-align: center;}

.aboutArea .WKDAArea{margin-bottom: 360px;}
.aboutArea .WKDAArea::before{content: ''; display: block; height: 270px; background: url('../images/about_WKDA.png') no-repeat center top / cover; margin-bottom: 20px;}
.aboutArea .WKDAArea ul::after{content: ''; display: block; clear: both;}
.aboutArea .WKDAArea ul li{float: left;}
.aboutArea .WKDAArea ul li:nth-child(1){width: 230px; margin-right: 210px;}
.aboutArea .WKDAArea ul li:nth-child(2){width: 220px; margin-right: 160px;}
.aboutArea .WKDAArea ul li:nth-child(3){width: 285px; margin-right: 95px;}
.aboutArea .WKDAArea ul li:nth-child(4){width: 220px;}
/* .aboutArea .WKDAArea ul li:not(:last-child){margin-right: 100px;} */
.aboutArea .WKDAArea ul li mark{font-size: 40px; line-height: 47px; margin-bottom: 30px;}
.aboutArea .WKDAArea ul li p{font-size: 22px; line-height: 32px;}

.aboutArea .imgArea{width: 950px; height: 950px; margin: 0 auto; background-color: #605abf; position: relative; margin-bottom: 260px;}
.aboutArea .imgArea img{position: absolute;}
.aboutArea .imgArea img:nth-child(1){top: -175px; left: -125px;}
.aboutArea .imgArea img:nth-child(2){bottom: 120px; right: -120px;}

.aboutArea .companyArea{position: relative; margin-bottom: 60px;}
.aboutArea .companyArea::after{content: ''; position: absolute; top: 0; right: 0; width: calc(670px + ((100% - 1420px) / 2) ); height: 585px; background:url('../images/about_BG01.png') no-repeat center / cover;}
.aboutArea .companyArea ul li:not(:last-child){margin-bottom: 60px;}
.aboutArea .companyArea ul li mark{font-size: 41px; margin-bottom: 20px; letter-spacing: 5px;}
.aboutArea .companyArea ul li p{font-size: 22px; line-height: 40px;}

.aboutArea .membersArea{margin-bottom: 155px;}
.aboutArea .membersArea h3{font-size: 41px; margin-bottom: 30px;}
.aboutArea .membersArea ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
.aboutArea .membersArea ul li{width: 310px;}
.aboutArea .membersArea ul li:not(:nth-child(3n)){margin-right: 245px;}
.aboutArea .membersArea ul li:not(:nth-child(-n + 3)){margin-top: 80px;}
.aboutArea .membersArea ul li img{width: 100%; margin-bottom: 5px;}
.aboutArea .membersArea ul li h4{font-size: 22px; margin-bottom: 20px;}
.aboutArea .membersArea ul li mark{font-size: 26px;}

.aboutArea .historyArea h3{font-size: 40px; margin-bottom: 85px;}
.aboutArea .historyArea > ol > li{display: flex;}
.aboutArea .historyArea > ol > li mark{width: 170px; font-size: 46px;}
.aboutArea .historyArea > ol > li > div{flex: 1; padding-left: 60px; position: relative;}
.aboutArea .historyArea > ol > li:first-child > div:first-of-type{margin-top: 10px;}
.aboutArea .historyArea > ol > li:last-child > div:first-of-type{padding-bottom: 100px;}
.aboutArea .historyArea > ol > li > div::before{content: ''; position: absolute; top: 0; left: -11.5px; width: 23px; height: 23px; background-color: #605abf; border-radius: 100%;}
.aboutArea .historyArea > ol > li > div::after{content: ''; position: absolute; top: 0; left: 0; width: 1px; height: 100%; background-color: #605abf;}
.aboutArea .historyArea > ol > li > div ol li{font-size: 22px; display: flex; margin-bottom: 40px;}
.aboutArea .historyArea > ol > li > div ol li strong{margin-right: 40px;}



/* our service */
.serviceArea{padding-bottom: 200px;}
.serviceArea h4{font-size: 60px; font-weight: 700; margin-bottom: 30px;}
.serviceArea h4 + p{font-size: 40px; font-weight: 600; margin-bottom: 50px;}
.serviceArea .serviceList{font-size: 26px; font-weight: 600;}
.serviceArea .serviceList li{display: flex; align-items: center;}
.serviceArea .serviceList li:not(:last-child){margin-bottom: 15px;}
.serviceArea .serviceList li::before{content: ''; width: 6px; height: 6px; background-color: white; border-radius: 100%; margin: 0 10px 0 3px;}
.serviceArea .imgBox{background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -9999px;}

.serviceArea > p{margin-bottom: 100px;}

.serviceArea .digitalArea{background-color: #605abf; padding: 130px 0 365px; position: relative; margin-bottom: 100px;}
.serviceArea .digitalArea div h3{font-size: 160px; font-weight: 800; margin-bottom: 30px;}
.serviceArea .digitalArea div p{font-size: 60px; font-weight: 700; line-height: 75px; margin-bottom: 20px;}
.serviceArea .digitalArea > img{position: absolute; right: 0; bottom: 0;}

.serviceArea .imgArea{position: relative;}
.serviceArea .imgArea img:first-child{position: absolute; left: 0; bottom: 170px;}
.serviceArea .imgArea img:nth-child(2){max-width: 790px; display: block; margin-left: auto;}

.serviceArea .virtualArea{margin-bottom: 190px;}
.serviceArea .virtualArea .serviceList{margin-bottom: 60px;}
.serviceArea .virtualArea .imgBox{height: 670px; background-image: url('../images/service_BG01.png');}

.serviceArea .ARArea{text-align: center; margin-bottom: 250px;}
.serviceArea .ARArea .serviceList{margin-bottom: 60px;}
.serviceArea .ARArea .serviceList li{justify-content: center;}
.serviceArea .ARArea .imgBox{height: 1080px; background-image: url('../images/service_BG02.png');}

.serviceArea .designArea{text-align: right;}
.serviceArea .designArea ul{height: 1045px; position: relative; text-align: center;}
.serviceArea .designArea ul li{width: 682px; height: 682px; display: flex; flex-direction: column; justify-content: center; align-items: center; position: absolute; background-repeat: no-repeat; background-position: center; background-size: cover;}
.serviceArea .designArea ul li:nth-child(1){background-image: url('../images/service_BG03.png'); top: -245px; left: 20px; z-index: 3;}
.serviceArea .designArea ul li:nth-child(2){background-image: url('../images/service_BG04.png'); top: 0; right: 13px; z-index: 2;}
.serviceArea .designArea ul li:nth-child(3){background-image: url('../images/service_BG05.png'); bottom: 0; left: 150px; z-index: 1;}
.serviceArea .designArea ul li strong{font-size: 60px; line-height: 75px; font-weight: 700; margin-bottom: 25px;}
.serviceArea .designArea ul li p{font-size: 26px; line-height: 40px; font-weight: 600;}


/* press */
.pressArea{background-color: black; padding-bottom: 60px; box-sizing: border-box; display: flex; align-items: flex-end;}
.pressArea > div{display: flex; position: relative;}
.pressArea > div h2{line-height: 80px; max-width: 300px; margin-right: 230px;}
.pressArea > div ul li{display: flex; align-items: flex-end;}
.pressArea > div ul li:not(:last-child){margin-bottom: 65px;}
.pressArea > div ul li img{max-width: 620px; margin-right: 50px;}
.pressArea > div ul li div strong{font-size: 32px; font-weight: 700; line-height: 37px; display: block; margin-bottom: 20px;}
.pressArea > div ul li div time{font-size: 18px; font-weight: 700; display: block; margin-bottom: 20px;}
.pressArea > div ul li div p{font-size: 18px; line-height: 30px; margin-bottom: 55px;}

.pressArea > div .pagerBox{position: absolute; left: 0; bottom: 0; display: flex; align-items: center;}
.pressArea > div .pagerBox a{font-size: 15px; font-weight: 700; color: white;}
.pressArea > div .pagerBox > a{position: relative; }
.pressArea > div .pagerBox > a::after{content: ''; position: absolute; left: 0; bottom: -2px; width: 100%; height: 1px; background-color: white;}
.pressArea > div .pagerBox > a span{position: absolute; top: 0;}
.pressArea > div .pagerBox > a:nth-of-type(1) span{left: -30px;}
.pressArea > div .pagerBox > a:nth-of-type(2) span{right: -30px;}
.pressArea > div .pagerBox ol{display: flex; margin: 0 30px;}
.pressArea > div .pagerBox ol li{}
.pressArea > div .pagerBox ol li a{display: block; width: 30px; line-height: 30px; border-radius: 100%; text-align: center;}
.pressArea > div .pagerBox ol li.active a,.pressArea > div .pagerBox ol li:hover a{background-color: #605abf;}


/* contactUs */
.contactUsArea{background-color: black; padding-bottom: 60px; box-sizing: border-box; display: flex; align-items: flex-end;}
.contactUsArea > div{position: relative;}
.contactUsArea > div h2{margin-bottom: 20px;}
.contactUsArea > div mark{font-size: 30px; font-weight: 800; margin-bottom: 440px;}
.contactUsArea > div button{position: absolute; right: 0; bottom: 0;}
/* .contactUsArea > div p{font-size: 40px; font-weight: 600; line-height: 69px;} */
.contactUsArea > div p.heartEmoticon::after{content: '';display: inline-block; width: 40px; height: 40px; background: url('../images/heartEmoticon.png') no-repeat center / cover; vertical-align: middle;}