.videoBox{position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; overflow: hidden;}
.videoBox video{width: 1900px;}


/* main 페이지*/
.mainArea{background-color: #5f53c1;}
.mainArea .contentArea{justify-content: space-between;} 
.mainArea .contentArea .textBox div{display: none; text-align: center;}
.mainArea .contentArea .textBox div.active{display: block;}
.mainArea .contentArea .textBox div img{position: absolute; left: 0; bottom: 0; width: 100%;}
.mainArea .contentArea .textBox div p{font-size: 120px; font-weight: 600; }
.mainArea .contentArea .textBox div:nth-child(1) p{letter-spacing: 40px;}
.mainArea .contentArea .textBox div:nth-child(2) p{letter-spacing: 15px;}
.mainArea .contentArea .textBox div:nth-child(3) p{letter-spacing: 10px;}
.mainArea .contentArea .textBox div:nth-child(3){position: relative;}
.mainArea .contentArea .textBox .btn{min-width: 305px; box-sizing: border-box; position: absolute; bottom: -150px; left: calc(50% - 152.5px);}


/* whoIs 페이지 */
.whoIsArea{position: relative; overflow: hidden; }
.whoIsArea section{position: absolute; top: 0; width: 100%;}
.whoIsArea section:nth-of-type(1){left: 0; z-index: 5;}
.whoIsArea section:nth-of-type(2){left: 100%; z-index: 6;}
.whoIsArea section div h2{width: 100%;  font-size: 200px; font-weight: 700;  display: flex; justify-content: space-between; letter-spacing: 10px;}
.whoIsArea section div h2 span{position: relative; z-index: 1;}
.whoIsArea section > div:first-child{max-width: 980px; margin: 0 auto; position: relative; z-index: 1;}
.whoIsArea section .videoBox{position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; overflow: hidden;}
.whoIsArea section .videoBox video{width: 1900px;}
/* .whoIsArea section.mony .videoBox{background-color: #615bbf; background: url('../images/test.png') no-repeat center / cover;} */
/* .whoIsArea section.mony .videoBox > div{position: relative;}
.whoIsArea section.mony .videoBox > div::after, .whoIsArea section.mony .videoBox > div::before{content: ''; position: absolute; width: 3px; height: 100%; top: 0; background-color: #615bbf;}
.whoIsArea section.mony .videoBox > div::before{left: 0;}
.whoIsArea section.mony .videoBox > div::after{right: 0;} */
/* .whoIsArea section.onny .videoBox{background-color: #50b2b7;} */
.whoIsArea .positionContents{position: absolute; left: 0; top: 0; width: 100%; height: 100%; pointer-events: none; z-index: 10;}
.whoIsArea .positionContents > div{height: 100%; margin: 0 auto; display: flex; justify-content: flex-end; align-items: center; position: relative;}
.whoIsArea .positionContents > div button{pointer-events: all; font-size: 23px; font-weight: 700; letter-spacing: 10px; display: flex; align-items: baseline; transition: 0.5s letter-spacing;}
.whoIsArea .positionContents > div button:hover{letter-spacing: 15px;}
.whoIsArea .positionContents > div button span:not([data-whoIs]){display: inline-block; width: 20px; height: 2px; background-color: white; margin-right: 15px; position: relative;}
.whoIsArea .positionContents > div button span:not([data-whoIs])::after{content: ''; position: absolute; right: 0; bottom: 0; width: 50%; height: 100%; background-color: white; transform: rotate(45deg); transform-origin: right;}
.whoIsArea .positionContents > div button span[data-whoIs="mony"]{display: none;}


/* intro 페이지 */
.introArea > .contentArea > div{position: relative; width: 100%;}
.introArea > .contentArea > div h2{font-size: 170px; font-weight: 700; margin-bottom: 50px;}
.introArea > .contentArea > div h2 span{font-size: 42px; font-weight: 700; display: block; }
.introArea > .contentArea > div ul{font-size: 22px;}
.introArea > .contentArea > div ul:not([title]){margin-bottom: 50px;}
.introArea > .contentArea > div ul:not([title]) li{display: flex;}
.introArea > .contentArea > div ul:not([title]) li:not(:last-child){margin-bottom: 25px;}
.introArea > .contentArea > div ul:not([title]) li strong{margin-right: 20px;}
.introArea > .contentArea > div ul[title]::before{content: attr(title); font-weight: 700; display: block; margin-bottom: 15px;}
.introArea > .contentArea > div ul[title] li:not(:last-child){margin-bottom: 15px;}
.introArea > .contentArea > div ul[title] li a{position: relative;}
.introArea > .contentArea > div ul[title] li a::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background-color: white;}
.introArea > .contentArea > img{position: absolute; right: 0; bottom: 0; width: 730px;}
.introArea > .contentArea > p{position: absolute; left: 0; bottom: 60px;}
.introArea > .contentArea > button{position: absolute; right: 0; top: 0;}
.introArea > .contentArea > div a.btn{position: absolute; right: 0; top: 40px;}

/* 토크 페이지 */
.talkArea .textBox{height: 100%; display: flex; justify-content: flex-end; align-items: center; position: relative; z-index: 1;}
.talkArea .contentArea{justify-content: flex-end;}
.talkArea ol li{display: none; text-align: right;}
.talkArea ol li.active{display: block; animation: talkBox 1s forwards;}
@keyframes talkBox {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.talkArea ol li strong{display: block; font-size: 48px; font-weight: 700; line-height: 60px; color: white; margin-bottom: 20px;}
.talkArea ol li p{font-size: 26px; font-weight: 400; display: inline-block; line-height: 60px; padding: 0 35px; background-color: white; border-radius: 100px; position: relative;}
.talkArea.monyArea ol li p{color: #605abf;}
.talkArea.onnyArea ol li p{color: #50b2b7;}
.talkArea ol li p , .talkArea .textBox ol li a{opacity: 0; position: relative; top: 50px; transition: 0.5s;}
.talkArea ol li p.active , .talkArea ol li a.active{opacity: 1; top: 0;}
.talkArea ol li p::after{content: ''; position: absolute; right: -2px; top: 3px; width: 14px; height: 14px; background: url('../images/talkBGAfter.png') no-repeat center / cover;}



