
.mainArea{min-width: 1200px; height: 100vh; position: relative;}
/* [class$='Page'] > [class$='Area']{min-width: 1900px; height: 100vh; position: relative;} */
.mainPage, .subPage{color: white;}
.mainPage > [class$='Area']{padding-top: 200px;}
.subPage.case01 > [class$='Area']{width: 100%; height: 100vh; position: relative;}

.btn{font-size: 24px; font-weight: 600; color: white; /* position: absolute; left: 0; */ line-height: 70px; padding: 0 45px; border: 1px solid white; border-radius: 100px; display: inline-flex; justify-content: center; align-items: center; z-index: 2; position: relative; overflow: hidden;}
.btn::before{content: ''; position: absolute; left: 0; top: 0; width: 0; height: 100%; background-color: white; mix-blend-mode: difference; transition: 0.5s width; }
.btn span{font-size: 35px; padding-left: 30px;}
.btn:hover::before{width: 100%;}

.btn01{font-size: 20px; font-weight: 600; color: white; line-height: 54px; padding: 0 37px; border: 1px solid white; border-radius: 100px; display: inline-flex; align-items: center; z-index: 2; position: relative; overflow: hidden;}
.btn01::before{content: ''; position: absolute; left: 0; top: 0; width: 0; height: 100%; background-color: white; mix-blend-mode: difference; transition: 0.5s width; }
.btn01 span{font-size: 30px; padding-left: 15px;}
.btn01:hover::before{width: 100%;}


[class ^= icon] a{display: inline-block; text-indent: -9999px;}
/* [class ^= icon] a::before{content: ''; width: 28px; height: 29px; background-repeat: no-repeat; background-position: center; background-size: cover; margin-right: 20px;} */
[class ^= icon] a{width: 81px; height: 80px; background-repeat: no-repeat; background-position: center; background-size: cover;}
.icon_insta a{background-image: url('../images/icon_insta.png');}
.icon_blog a{background-image: url('../images/icon_blog.png');}
.icon_chat a{background-image: url('../images/icon_chat.png');}
.icon_shop a{background-image: url('../images/icon_shop.png');}

.videoBox{position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 0; overflow: hidden; }
.videoBox video{width: 100%;}

/* 메인페이지 */
.mainArea .textBox{height: 100%; display: none; flex-direction: column; justify-content: center; align-items: center; position: relative; z-index: 1;}
.mainArea .textBox.active{display: flex;}
.mainArea .textBox p{font-size: 130px;  font-weight: 600; color: white; letter-spacing: 70px; text-shadow: 5px 5px 15px rgb(0 0 0 / 50%);}
.mainArea .textBox p:not(:last-of-type){margin-bottom: 30px;}

.mainArea .imgBox{position: absolute; left: 0; top: 0; width: 100%; height: 100%; pointer-events: none; z-index: 2;}
.mainArea .imgBox div{height: 100%; display: flex; justify-content: center; align-items: flex-end;}
.mainArea .imgBox div img{pointer-events: all; width: 50%; margin-right: 90px;}

/* .mainArea .videoBox{position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 0; overflow: hidden; }
.mainArea .videoBox video{width: 100%;} */


/* whoIs 페이지 */
.whoIsArea{position: relative; overflow: hidden; }
.whoIsArea, .introArea{color: white;}
.whoIsArea section{position: absolute; top: 0; width: 100%;}
.whoIsArea section:nth-of-type(1){left: 0; z-index: 5;}
.whoIsArea section:nth-of-type(2){left: 100%; z-index: 6;}
.whoIsArea .monyBox , .introArea.monyArea, .mainArea{background: rgb(138,143,204);
    background: radial-gradient(circle, rgba(138,143,204,1) 0%, rgba(110,108,195,1) 59%, rgba(97,91,191,1) 100%);
}
.whoIsArea .onnyBox , .introArea.onnyArea{background: rgb(124,195,199);
    background: radial-gradient(circle, rgba(124,195,199,1) 0%, rgba(81,178,183,1) 100%);}
.whoIsArea > section{ height: 100%; display: flex; justify-content: center; align-items: center;}
.whoIsArea > section > div{ display: flex; justify-content: center; }
.whoIsArea > section > div > div{ width: 1400px; position: relative;}
.whoIsArea > section > div > div h2{width: 100%;  font-size: 367px; font-weight: 700;  display: flex; justify-content: space-between; letter-spacing: 10px;}
.whoIsArea > section > div > div h2 span:nth-child(2){position: relative; z-index: 1;}
.whoIsArea > section > div > div a{left: 0; z-index: 2;}
.whoIsArea > section img{position: absolute; bottom: 0; width: 840px; z-index: 0; pointer-events: none;}
.whoIsArea .selectArea{position: absolute; left: 0; top: 0; width: 100%; height: 100%; pointer-events: none; z-index: 10;}
.whoIsArea .selectArea div{height: 100%; margin: 0 auto; display: flex; justify-content: flex-end; align-items: center;}
.whoIsArea .selectArea div button{pointer-events: all; font-size: 23px; font-weight: 700; letter-spacing: 10px; display: flex; align-items: baseline; transition: 0.5s letter-spacing;}
.whoIsArea .selectArea div button:hover{letter-spacing: 15px;}
.whoIsArea .selectArea div button span:not([data-whoIs]){display: inline-block; width: 20px; height: 2px; background-color: white; margin-right: 15px; position: relative;}
.whoIsArea .selectArea div button span:not([data-whoIs])::after{content: ''; position: absolute; right: 0; bottom: 0; width: 50%; height: 100%; background-color: white; transform: rotate(45deg); transform-origin: right;}
.whoIsArea .selectArea div button span[data-whoIs="mony"]{display: none;}


/* 소개 페이지 */
.introArea > div{height: 100%; display: flex; flex-direction: column; justify-content: center; position: relative;}
.introArea > div > div{text-align: center;}
.introArea > div > div h2{font-size: 170px; font-weight: 700; }
.introArea > div > div span{font-size: 42px; font-weight: 700; display: block; margin-bottom: 55px;}
.introArea > div > div ul{font-size: 24px;}
.introArea > div > div ul:not([title]){margin-bottom: 60px;}
.introArea > div > div ul:not([title]) li{display: flex; justify-content: center;}
.introArea > div > div ul:not([title]) li:not(:last-child){margin-bottom: 30px;}
.introArea > div > div ul:not([title]) li strong{margin-right: 20px;}
.introArea > div > div ul[title]{margin-bottom: 85px;}
.introArea > div > div ul[title]::before{content: attr(title); font-size: 24px; font-weight: 700; display: block; margin-bottom: 35px;}
.introArea > div > div ul[title] li:not(:last-child){margin-bottom: 25px;}
.introArea > div > div ul[title] li a{position: relative;}
.introArea > div > p{font-size: 48px; font-weight: 700; line-height: 78px; text-align: center; margin-bottom: 50px;}
.introArea > div > .btn{margin: 0 auto; margin-bottom: 100px;}
.introArea > div > img{width: 100%; max-width: 640px;}

/* 토크 페이지 */
.talkArea{height: 100vh; padding-top: 100px !important; padding-bottom: 100px; box-sizing: border-box;}
.talkArea .textBox{height: 100%; display: flex; justify-content: center; align-items: flex-end; position: relative; z-index: 1;}
.talkArea .textBox ol li{display: none; text-align: center;}
.talkArea .textBox ol li.active{display: block; animation: talkBox 1s forwards;}
@keyframes talkBox {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.talkArea .textBox ol li strong{display: block; font-size: 48px; font-weight: 700; line-height: 51px; color: white; margin-bottom: 20px;}
.talkArea .textBox ol li p{font-size: 26px; font-weight: 500; display: inline-block; line-height: 60px; padding: 0 35px; background-color: white; border-radius: 100px; position: relative;}
.talkArea.monyArea{background-color: rgba(110,108,195,1);}
.talkArea.onnyArea{background:rgb(124,195,199) url('../images/onny02.png') no-repeat center top / 640px;}
.talkArea.monyArea .textBox ol li p{color: #605abf;}
.talkArea.onnyArea .textBox ol li p{color: #50b2b7;}
.talkArea .textBox ol li p , .talkArea .textBox ol li a{opacity: 0; position: relative; top: 50px; transition: 0.5s;}
.talkArea .textBox ol li p.active , .talkArea .textBox ol li a.active{opacity: 1; top: 0;}
.talkArea .textBox ol li p::after{content: ''; position: absolute; right: -2px; top: 3px; width: 14px; height: 14px; background: url('../images/talkBGAfter.png') no-repeat center / cover;}



/* 서브 페이지 */
.subPage{}
.subPage main > h2{ font-size: 70px; font-weight: 700; padding-top: 100px; margin-bottom: 60px;}
.subPage main > h2 span{display: inline-block; width: 25px; height: 25px; background-color: #605abf; border-radius: 100%; margin-left: 15px;}
.titleDot{font-size: 70px; font-weight: 700; }
.titleDot span{display: inline-block; width: 25px; height: 25px; background-color: #605abf; border-radius: 100%; margin-left: 15px;}
.titleDot::after{content: ''; display: inline-block; width: 25px; height: 25px; background-color: #605abf; border-radius: 100%; margin-left: 15px;}
.subPage main > h2 + p{font-size: 40px; line-height: 69px; font-weight: 600;}
/* .subPage main h2 ~ p{font-size: 40px; line-height: 69px; font-weight: 600;} */


/*서브 페이지 - about */
.aboutArea mark{font-weight: 700;}

.aboutArea > p{margin-bottom: 200px;}
.aboutArea .meditatArea{background-color: #605abf; margin-bottom: 100px;}
.aboutArea .meditatArea > div::after{content: ''; display: block; clear: both;}
.aboutArea .meditatArea > div{padding-top: 420px; padding-bottom: 110px; position: relative; margin-left: 40px;}
.aboutArea .meditatArea > div > div{position: absolute; left: 0; top: -90px; width: 100%; height: 450px; background: url('../images/about_titleBG.png') no-repeat center / cover; }
.aboutArea .meditatArea > div > div h3{font-size: 75px; font-weight: 600; text-align: center; height: 100%; display: flex; justify-content: center; align-items: center;}
.aboutArea .meditatArea > div > div h3 img{width: 100%; max-width: 600px;}

.aboutArea .meditatArea > div strong{display: block; font-size: 60px; font-weight: 700; margin-right: 90px; margin-bottom: 50px;}
.aboutArea .meditatArea > div p{font-size: 22px; line-height: 40px; margin-right: 40px;}


.aboutArea .thinkArea{margin-bottom: 180px;}
.aboutArea .thinkArea p{font-size: 68px; font-weight: 700; line-height: 100px; text-align: center;}
.aboutArea .thinkArea p:not(:last-of-type){margin-bottom: 70px;}
.aboutArea .thinkArea p:last-of-type{margin-bottom: 100px;}
.aboutArea .thinkArea mark{width: 100%; font-size: 46px; text-align: center;}

.aboutArea .WKDAArea{margin-bottom: 350px; width: 100%; overflow: auto;}
/* .aboutArea .WKDAArea::before{content: ''; display: block; height: 270px; background: url('../images/about_WKDA.png') no-repeat center top / cover; margin-bottom: 20px;} */
.aboutArea .WKDAArea ul::after{content: ''; display: block; clear: both;}
.aboutArea .WKDAArea ul{padding: 270px 60px 0; background: url('../images/about_WKDA.png') no-repeat center top;}
.aboutArea .WKDAArea ul li{float: left;}
.aboutArea .WKDAArea ul li:nth-child(1){width: 230px; margin-right: 210px;}
.aboutArea .WKDAArea ul li:nth-child(2){width: 220px; margin-right: 160px;}
.aboutArea .WKDAArea ul li:nth-child(3){width: 285px; margin-right: 95px;}
.aboutArea .WKDAArea ul li:nth-child(4){width: 220px;}
/* .aboutArea .WKDAArea ul li:not(:last-child){margin-right: 100px;} */
.aboutArea .WKDAArea ul li mark{font-size: 40px; line-height: 47px; margin-bottom: 30px;}
.aboutArea .WKDAArea ul li p{font-size: 22px; line-height: 32px;}

.aboutArea .imgArea{height: 750px; margin: 0 auto; background-color: #605abf; position: relative; margin-bottom: 130px;}
.aboutArea .imgArea img{position: absolute; width: calc(100% - 70px); max-width: 560px;}
.aboutArea .imgArea img:nth-child(1){top: -175px; left: 0;}
.aboutArea .imgArea img:nth-child(2){bottom: 110px; right: 0;}

.aboutArea .companyArea{position: relative; margin-bottom: 80px;}
.aboutArea .companyArea::after{content: '';display: block; width: 100%; height: 450px; background:url('../images/about_BG01.png') no-repeat center / cover;}
.aboutArea .companyArea ul{margin-bottom: 90px;}
.aboutArea .companyArea ul li:not(:last-child){margin-bottom: 60px;}
.aboutArea .companyArea ul li mark{font-size: 41px; margin-bottom: 20px; letter-spacing: 5px;}
.aboutArea .companyArea ul li p{font-size: 22px; line-height: 40px;}

.aboutArea .membersArea{margin-bottom: 115px;}
.aboutArea .membersArea h3{font-size: 40px; margin-bottom: 45px;}
.aboutArea .membersArea ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
.aboutArea .membersArea ul li{width: calc((100% - 20px) / 2); text-align: center;}
.aboutArea .membersArea ul li:not(:nth-child(-n + 2)){margin-top: 50px;}
.aboutArea .membersArea ul li img{width: 100%; margin-bottom: 30px;}
.aboutArea .membersArea ul li h4{font-size: 22px; margin-bottom: 25px;}
.aboutArea .membersArea ul li mark{font-size: 24px;}

.aboutArea .historyArea h3{font-size: 40px; margin-bottom: 50px;}
.aboutArea .historyArea > ol{padding-bottom: 180px;}
.aboutArea .historyArea > ol > li::after{content: ''; position: absolute; top: 8px; left: 0; width: 1px; height: 100%; background-color: #605abf;}
.aboutArea .historyArea > ol > li{padding-left: 40px; position: relative;}
.aboutArea .historyArea > ol > li mark{font-size: 40px; margin-bottom: 40px;}
.aboutArea .historyArea > ol > li mark::before{content: ''; position: absolute; top: 8px; left: -11.5px; width: 23px; height: 23px; background-color: #605abf; border-radius: 100%;}
/* .aboutArea .historyArea > ol > li:last-child > div:first-of-type{padding-bottom: 100px;} */
.aboutArea .historyArea > ol > li > div ol li{font-size: 22px;}
.aboutArea .historyArea > ol > li > div ol li:last-child{padding-bottom: 55px;}
.aboutArea .historyArea > ol > li > div ol li:not(:last-child){margin-bottom: 40px;}
.aboutArea .historyArea > ol > li > div ol li strong{display: block; margin-bottom: 20px;}


/* our service */
.serviceArea{padding-bottom:200px;}
.serviceArea h4{font-size: 60px; font-weight: 700; margin-bottom: 30px;}
.serviceArea h4 + p{font-size: 40px; font-weight: 600; margin-bottom: 50px;}
.serviceArea .serviceList{font-size: 26px; font-weight: 600;}
.serviceArea .serviceList li{display: flex; align-items: center;}
.serviceArea .serviceList li:not(:last-child){margin-bottom: 15px;}
.serviceArea .serviceList li::before{content: ''; width: 6px; height: 6px; background-color: white; border-radius: 100%; margin: 0 10px 0 3px;}

.serviceArea .digitalArea{padding: 115px 0 695px; position: relative; margin-bottom: 185px;}
.serviceArea .digitalArea div h3{font-size: 40px; font-weight: 700; margin-bottom: 30px;}
.serviceArea .digitalArea div p{font-size: 30px; font-weight: 600; line-height: 35px; margin-bottom: 40px;}
.serviceArea .digitalArea .serviceList{margin-bottom: 70px;}
.serviceArea .digitalArea .imgBox::after{content: ''; display: block; clear: both;}
.serviceArea .digitalArea .imgBox li{float: left; width: calc((100% - 10px) / 3);}
.serviceArea .digitalArea .imgBox li:not(:last-child){margin-right: 5px;}
.serviceArea .digitalArea .imgBox li img{width: 100%;}
.serviceArea .digitalArea > img{position: absolute; right: 0; bottom: 0; width: 100%;}

.serviceArea .virtualArea{margin-bottom: 170px;}
.serviceArea .virtualArea .serviceList{margin-bottom: 80px;}
.serviceArea .virtualArea .imgBox{height: 670px; text-indent: -9999px; display: flex; justify-content: space-between;}
/* .serviceArea .virtualArea .imgBox::after , .serviceArea .virtualArea .imgBox::before{
    content: ''; display: block; width: calc((100% - 10px) / 2); height: 100%; background-repeat: no-repeat; background-position: center; background-size: cover;
}
.serviceArea .virtualArea .imgBox::after{background-image: url('../images/service_BG01_01.png');}
.serviceArea .virtualArea .imgBox::before{background-image: url('../images/service_BG01_02.png');} */
.serviceArea .virtualArea .imgBox{height: 445px; background: url('../images/service_BG01_01.png') no-repeat center / cover;}


/* AR */
.serviceArea .ARArea{margin-bottom: 170px;}
.serviceArea .ARArea .serviceList{margin-bottom: 80px;}
.serviceArea .ARArea .imgBox{display: flex; justify-content: space-between;}
.serviceArea .ARArea .imgBox img{display: block; width: calc(100% / 2); }

.serviceArea .designArea .imgBox img{width: 100%;}



/* press */
.pressArea{background-color: black; padding-bottom: 200px; box-sizing: border-box; display: flex; align-items: flex-end;}
.pressArea > div{position: relative; padding-top: 100px;}
.pressArea > div h2{line-height: 70px; max-width: 300px; margin-bottom: 90px;}
.pressArea > div ul li{}
.pressArea > div ul li:not(:last-child){margin-bottom: 120px;}
.pressArea > div ul li img{width: 100%; margin-bottom: 70px;}
.pressArea > div ul li div strong{font-size: 40px; font-weight: 700; line-height: 50px; display: block; margin-bottom: 25px;}
.pressArea > div ul li div time{font-size: 20px; font-weight: 700; display: block; margin-bottom: 30px;}
.pressArea > div ul li div p{font-size: 22px; line-height: 40px; margin-bottom: 70px;}

.pressArea > div .pagerBox{position: absolute; left: 0; bottom: 0; display: flex; align-items: center;}
.pressArea > div .pagerBox a{font-size: 15px; font-weight: 700; color: white;}
.pressArea > div .pagerBox > a{position: relative; }
.pressArea > div .pagerBox > a::after{content: ''; position: absolute; left: 0; bottom: -2px; width: 100%; height: 1px; background-color: white;}
.pressArea > div .pagerBox > a span{position: absolute; top: 0;}
.pressArea > div .pagerBox > a:nth-of-type(1) span{left: -30px;}
.pressArea > div .pagerBox > a:nth-of-type(2) span{right: -30px;}
.pressArea > div .pagerBox ol{display: flex; margin: 0 30px;}
.pressArea > div .pagerBox ol li a{display: block; width: 30px; line-height: 30px; border-radius: 100%; text-align: center;}
.pressArea > div .pagerBox ol li.active a,.pressArea > div .pagerBox ol li:hover a{background-color: #605abf;}


/* contactUs */
.contactUsArea{background-color: black; padding-bottom: 100px; box-sizing: border-box; display: flex; align-items: flex-end; position: relative; overflow: hidden;}
.contactUsArea > div{position: relative;}

.contactUsArea > .contentsArea{height: 100%; display: flex; flex-direction: column; justify-content: space-between;}
.contactUsArea > .contentsArea h2{margin-bottom: 20px;}
.contactUsArea > .contentsArea mark{font-size: 30px; font-weight: 800; /* margin-bottom: 440px; */}
.contactUsArea > .contentsArea p{font-size: 40px; font-weight: 600; line-height: 69px; margin-bottom: 50px;}
.contactUsArea > .contentsArea p.heartEmoticon::after{content: '';display: inline-block; width: 40px; height: 40px; background: url('../images/heartEmoticon.png') no-repeat center / cover; vertical-align: middle;}
/* .contactUsArea > div button{position: absolute; right: 0; bottom: 0;} */

.contactUsArea .contactUsBox{position: absolute; right: -100%; top: 0; width: 100%; height: 100%; box-sizing: border-box; background-color: #605abf; z-index: 5;}
.contactUsArea .contactUsBox > div{height: 100%; position: relative; display: flex; align-items: center; }

.contactUsArea .contactUsBox > div .textBox{width: 100%; position: relative; z-index: 1; }
.contactUsArea .contactUsBox > div .textBox ol{/* display: none; */}
.contactUsArea .contactUsBox > div .textBox ol li{display: none; text-align: left; position: relative;}
.contactUsArea .contactUsBox > div .textBox ol li.active{display: block; animation: contactUsQuery 1s forwards;}
@keyframes contactUsQuery {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.contactUsArea .contactUsBox > div .textBox ol li strong{display: block; font-size: 48px; font-weight: 700; line-height: 51px; color: white; margin-bottom: 20px;}
.contactUsArea .contactUsBox > div .textBox ol li p{font-size: 26px; font-weight: 500; color: #605abf; display: inline-block; line-height: 60px; padding: 0 35px; background-color: white; border-radius: 100px;}
.contactUsArea .contactUsBox > div .textBox ol li p{opacity: 0; position: absolute; right: 0; bottom: -135px; /* transition: 0.5s; */ animation: contactValue 1s forwards;}
@keyframes contactValue {
    0%{opacity: 0; bottom: -135px;}
    100%{opacity: 1; bottom: -85px;}
}
.contactUsArea .contactUsBox > div .textBox ol li p::after{content: ''; position: absolute; right: -2px; top: 3px; width: 14px; height: 14px; background: url('../images/talkBGAfter.png') no-repeat center / cover;}
.contactUsArea .contactUsBox > div .textBox .replayBtn{display: none; position: absolute; left: 0; bottom: -25px; font-size: 24px; font-weight: 600; color: rgba(255, 255, 255, 0.4); }
.contactUsArea .contactUsBox > div .textBox .replayBtn::after{content: ''; position: absolute; left: 0; bottom: -5px; width: 100%; height: 1px; background-color: rgba(255, 255, 255, 0.4);}

.contactUsArea .contactUsBox > div .textBox .contactUsFin{width: 100%; display: none;}
.contactUsArea .contactUsBox > div .textBox .contactUsFin p{font-size: 30px; font-weight: 600; line-height: 42px; text-align: center; margin-bottom: 40px;}
.contactUsArea .contactUsBox > div .textBox .contactUsFin span{display: flex; justify-content: center; align-items: center; margin: 0 auto; width: 275px; height: 70px; font-size: 24px; font-weight: 600; color: black; background-color: white; border-radius: 100px; }
.contactUsArea .contactUsBox > div .textBox .contactUsFin span::after{content: ''; width: 39px; height: 39px; background: url('../images/smileEmoticon.png') no-repeat center / cover; margin-left: 20px;}


.contactUsArea .contactUsBox > div .sendBox{position: absolute; left: 0; bottom: 55px; width: 100%; z-index: 2;}
.contactUsArea .contactUsBox > div .sendBox input[type="text"]{width: 100%; height: 70px; font-size: 21px; font-weight: 600; color: white; padding: 0 40px; box-sizing: border-box; background-color: transparent; border: 1px solid white; border-radius: 100px;}
.contactUsArea .contactUsBox > div .sendBox button{position: absolute; right: 40px; top: 0; font-size: 27px; font-weight: 800; line-height: 70px;}
