
.mainArea{min-width: 1900px; height: 100vh; position: relative;}
[class$='Page'] > [class$='Area']{min-width: 1900px; height: 100vh; position: relative;}

.mainArea .textBox{height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; z-index: 1;}
.mainArea .textBox p{font-size: 130px;  font-weight: 600; color: white; letter-spacing: 70px; text-shadow: 5px 5px 15px rgb(0 0 0 / 50%);}
.mainArea .textBox p:not(:last-of-type){margin-bottom: 30px;}

.mainArea .videoBox{position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 0; overflow: hidden; }
.mainArea .videoBox video{width: 100%;}


.whoIsArea{position: relative; overflow: hidden; }
.whoIsArea *{color: white;}
.whoIsArea section{position: absolute; top: 0; width: 100%;}
.whoIsArea section:nth-of-type(2){left: 0;}
.whoIsArea section:nth-of-type(1){left: 100%;}
.whoIsArea .monyArea{background: rgb(138,143,204);
    background: radial-gradient(circle, rgba(138,143,204,1) 0%, rgba(110,108,195,1) 59%, rgba(97,91,191,1) 100%);
}
.whoIsArea .onnyArea{background: rgb(124,195,199);
    background: radial-gradient(circle, rgba(124,195,199,1) 0%, rgba(81,178,183,1) 100%);}
.whoIsArea > section{ height: 100%; display: flex; justify-content: center; align-items: center;}
.whoIsArea > section > div{width: 100%; display: flex; justify-content: center; }
.whoIsArea > section > div > div{width: 78%; position: relative;}
.whoIsArea > section > div > div h2{width: 100%; font-size: 367px; font-weight: 700; /* color: white; */ display: flex; justify-content: space-between; letter-spacing: 10px;}
.whoIsArea > section > div > div h2 span:nth-child(2){position: relative; z-index: 1;}
.whoIsArea > section > div > div a{font-size: 24px; font-weight: 600;/*  color: white; */ position: absolute; left: 0; line-height: 70px; padding: 0 45px; border: 1px solid white; border-radius: 100px; display: flex; align-items: center; z-index: 2;}
.whoIsArea > section > div > div a span{font-size: 35px; padding-left: 30px;}
.whoIsArea > section img{position: absolute; bottom: 0; width: 840px; z-index: 0;}
.whoIsArea .selectArea{position: absolute; left: 0; top: 0; width: 100%; height: 100%; pointer-events: none;}
.whoIsArea .selectArea div{height: 100%; margin: 0 auto; display: flex; justify-content: flex-end; align-items: center;}
.whoIsArea .selectArea div button{pointer-events: all; font-size: 23px; font-weight: 700; /*  color: white; */ letter-spacing: 10px;}
.whoIsArea .selectArea div button span{display: inline-block; width: 20px; height: 2px; background-color: white; margin-right: 15px; position: relative;}
.whoIsArea .selectArea div button span::after{content: ''; position: absolute; right: 0; bottom: 0; width: 50%; height: 100%; background-color: white; transform: rotate(45deg); transform-origin: right;}
